html,
body {
  background-color: #262525;
}

body {
  /* height: 100vh; */
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  /* background-image: url("bg-print.jpg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain; */
}

.container {
  display: flex;
  flex-flow: row;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  opacity: 0;
  margin-top: 0;
  animation: opacityAnim 7s forwards;
}

.container > div:first-child {
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  80% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.container > div:last-child {
  flex: 1;
  text-align: left;
  background-color: #333;
  padding: 25px 30px;
  padding-bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  /* border: dashed 2px #777; */
  /* box-shadow: 0 2px 5px 0 #444; */
}

.container > div > div {
  padding-bottom: 15px;
  display: flex;
}

.container > div > div > span:first-child {
  flex-basis: 20px;
  text-align: center;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

h3 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 100;
}

i.fa {
  color: #aaa;
}

#imgContainer {
  position: relative;
  overflow: hidden;
  margin: 0 -30px;
  padding-bottom: 0;
  margin-top: 10px;
  border-top: dashed 2px #777;
}

#imgFancy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s;
}

#imgFancy:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 760px) {
  .container {
    flex-flow: column;
  }

  .container > div {
    flex: 1;
  }
}

#logoContainer {
  z-index: 10;
  position: absolute;
  left: -31px;
  bottom: -33px;
  text-align: center;
}

#logoLayer1 {
  border: solid 5px #ffffff;
  padding: 25px;
  display: inline-block;

  transform: scale(0.7) rotateZ(0deg);
  animation: pulse 3s forwards;
  opacity: 1;
}

#logoLayer2 {
  width: 50px;
  height: 50px;
  background-color: #447b28;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5) rotateZ(0);
  }

  20% {
    transform: scale(0.7) rotateZ(180deg);
    opacity: 1;
  }

  40% {
    transform: scale(0.5) rotateZ(360deg);
    opacity: 1;
  }

  60% {
    transform: scale(0.7) rotateZ(540deg);
    opacity: 1;
  }

  80% {
    transform: scale(0.5) rotateZ(720deg);
    opacity: 1;
  }

  100% {
    transform: scale(2) rotateZ(720deg);
    opacity: 0;
  }
}

#svgLogoAnim {
  position: fixed;
  width: 100%;
  top: 30%;
  left: 30px;
  height: 200px;
  pointer-events: none;
  opacity: 1;
  animation: logoAnim 6s forwards;
}

@keyframes logoAnim {
  0% {
    opacity: 1;
    top: 30%;
  }
  60% {
    top: 25%;
    opacity: 1;
  }
  90% {
    top: 25%;
    opacity: 1;
  }
  100% {
    top: 25%;
    opacity: 0;
  }
}

#svgLogoAnim > div#svgImgs {
  width: 140px;
  height: 200px;
  margin: auto;
  position: relative;
}
#svgLogoAnim img {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}

img#box1,
img#box2 {
  animation: imgBox 3s forwards;
  opacity: 0;
}

@keyframes imgBox {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img#box3 {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  animation: imgBox3 2s forwards;
  opacity: 0;
}

@keyframes imgBox3 {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    opacity: 1;
  }
}

img#petal1 {
  animation: imgPetal1 2s forwards;
  opacity: 0;
  margin-left: -13px;
}

img#petal2 {
  animation: imgPetal1 3s forwards;
  opacity: 0;
  margin-left: -13px;
}

img#petal3 {
  animation: imgPetal1 4s forwards;
  opacity: 0;
  margin-left: -13px;
}

@keyframes imgPetal1 {
  0% {
    opacity: 0;
    margin-left: -13px;
  }
  33.3% {
    opacity: 0;
    margin-left: -13px;
  }
  66.6% {
    opacity: 0;
    margin-left: -13px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
