html,
body {
  background-color: #262525;
}

body {
  margin: 0;
  /* padding: 10px 20px; */
  text-align: center;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  flex-flow: row;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  opacity: 0;
  margin-top: 0;
  animation: opacityAnim 7s forwards;
}

.container > div:first-child {
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 30px;
  padding-bottom: 40px;
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  80% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.container > div:last-child {
  flex: 1;
  text-align: left;
  background-color: #333;
  padding: 0 30px;
  /* border-radius: 5px; */
  overflow: hidden;
}

.container > div > div {
  padding-bottom: 15px;
  display: flex;
}

.container > div > div > span:first-child {
  /* flex-basis: 20px; */
  flex: 0 0 20px;
  text-align: center;
  padding-right: 10px;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 20px 0;
  border-color: #555;
  border-width: 0.5px;
}

h3 {
  font-size: 25px;
  margin: 0 -30px;
  padding: 10px 30px;
  margin-bottom: 25px;
  font-weight: 100;
  font-family: "Nunito", sans-serif;
  /* border-bottom: solid 1px #555; */
  background-color: #447b28;
}

i.fa {
  color: #aaa;
}

#imgContainer {
  position: relative;
  overflow: hidden;
  margin: 0 -30px;
  padding-bottom: 0;
  margin-top: 10px;
  border-bottom: solid 2px #447b28;
}

#imgFancy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s;
}

#imgFancy:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 760px) {
  .container {
    flex-flow: column;
  }

  .container > div {
    flex: 1;
  }

  .container > div:first-child {
    margin-right: 0;
  }

  body {
    padding: 0 0;
  }

  h3 {
    text-align: center;
  }
}

#logoContainer {
  z-index: 10;
  position: absolute;
  left: -31px;
  bottom: -33px;
  text-align: center;
}

#logoLayer1 {
  border: solid 8px #ffffff;
  padding: 22px;
  display: inline-block;
  transform: scale(0.7) rotateZ(0deg);
  animation: pulse 2s forwards;
  opacity: 1;
}

#logoLayer2 {
  width: 50px;
  height: 50px;
  background-color: #447b28;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.7) rotateZ(0);
  }
  33% {
    transform: scale(0.5) rotateZ(180deg);
    opacity: 1;
  }
  66% {
    transform: scale(0.7) rotateZ(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.3) rotateZ(540deg);
    opacity: 0;
  }
  /* 80% {
    transform: scale(0.5) rotateZ(720deg);
    opacity: 1;
  }

  100% {
    transform: scale(2) rotateZ(720deg);
    opacity: 0;
  } */
}

#svgLogoAnim {
  position: fixed;
  width: 100%;
  top: 30%;
  left: 30px;
  height: 200px;
  pointer-events: none;
  opacity: 1;
  animation: logoAnim 6s forwards;
}

@keyframes logoAnim {
  0% {
    opacity: 1;
    top: 30%;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 15%;
    opacity: 0;
  }
}

#svgLogoAnim > div#svgImgs {
  width: 140px;
  height: 200px;
  margin: auto;
  position: relative;
}

#svgLogoAnim img {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}

#svgLogoAnim section {
  position: absolute;
  left: 20px;
  bottom: -25px;
  opacity: 0;
  color: #555;
  animation: logoLabel 2s forwards;
  animation-delay: 4s;
  font-family: "Nunito", sans-serif;
}

@keyframes logoLabel {
  0% {
    opacity: 0;
    color: #555;
    left: 20px;
  }
  50% {
    opacity: 0;
    color: #555;
    left: 20px;
  }
  100% {
    opacity: 1;
    color: #fff;
    left: 0;
  }
}

img#box1,
img#box2 {
  animation: imgBox 2.2s forwards;
  opacity: 0;
}

@keyframes imgBox {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img#box3 {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  animation: imgBox3 3s forwards;
  /* //animation-delay: 1s; */
  /* opacity: 0; */
}

@keyframes imgBox3 {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    /* opacity: 0; */
  }
  60% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    /* opacity: 0; */
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    /* opacity: 1; */
  }
}

img#petal1 {
  animation: imgPetal1 3s forwards;
  animation-delay: 1s;
  opacity: 0;
  margin-left: -13px;
}

img#petal2 {
  animation: imgPetal1 3s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  margin-left: -13px;
}

img#petal3 {
  animation: imgPetal1 3s forwards;
  animation-delay: 2s;
  opacity: 0;
  margin-left: -13px;
}

@keyframes imgPetal1 {
  0% {
    opacity: 0;
    margin-left: -13px;
  }
  /* 33.3% {
    opacity: 0;
    margin-left: -13px;
  } */
  60% {
    opacity: 0;
    margin-left: -13px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map*/